<section class="modal-overlay">
  <div class="modal-header">
    <div class="img-atualizar">
      <h3>Atualizar a camiseta</h3>
      <div class="modal" id="modal"></div>
    </div>
    <form class="form-modal" action="/update/<%= itemPut.id %> " method="POST">
    
        <label for="nome">Nome:</label>
        <input
          type="text"
          id="nome"
          name="nome"
          value=" <%= itemPut.nome %> "
          required
        />

        <label for="descricao">Descrição:</label>
        <input
          type="text"
          id="descricao"
          name="descricao"
          value="<%= itemPut.descricao %> "
          required
        />
    

  
        <label for="tamanho">Tamanho:</label>
        <input
          type="text"
          id="tamanho"
          name="tamanho"
          value="<%= itemPut.tamanho %> "
          required
        />
 


        <label for="imagem">Link da imagem:</label>
        <input
          type="text"
          id="imagem"
          name="imagem"
          value="<%= itemPut.imagem %> "
          required
        />
    
      <div class="btnAtualizarImagem">
        <button class="btnCadastrar" type="submit">Atualizar</button>
        <button class="btnVoltar">
          <a href="/detalhes/<%= itemPut.id %>">Voltar</a>
        </button>
      </div>
    </form>
</section>