<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <%- include ('./components/head') %>
</head>
<body>
    <nav>
      <%- include ('./components/nav') %>
    </nav>
    <section class="items">
        <h1>Loja dos Peaky`s</h1>
        <% loja.forEach((items) =>{ %>
        <div class="item">
          <a class="item2" href="/detalhes/<%= loja.indexOf(items) %>">
            <img src="<%= items.imagem %>" alt="item" />
            <h2><%= items.nome %></h2>
            <h3 class="cardTipo"><%= items.tamanho %></h3>
        </div>
        <% }) %>
      </section>
      <footer>
        <%- include ('./components/footer') %>
      </footer>

    <script src="/JS/script.js"></script>
</body>
</html>